/**feature-1077**/
body{background:white}
.worklogs{padding:5px;}
#titlebar {display:block;}

.container {max-width: 950px!important;}
.container .actions {margin-bottom: 10px; padding: 0}
.container .actions > .text {padding: 5px 5px 5px 15px; line-height: 20px}
.mw-220px {max-width: 220px!important}
#wrap h1{font-size:14px;}
#interval{margin-right:10px;}
.canvas-wrapper {padding: 15px; border: 1px solid #ddd;}

.chosen-container .chosen-results {
    max-height: 150px!important;
}

.tendency-icon  {
    float:left;
    display: block;
    background-repeat: no-repeat;
    line-height: 25px;
    width: 20px;
    height:20px;
}